/****** Utility Classes Start ******/
.h-primary{
    font-size: 1.8rem;
}
.h-secondary{
    font-size: 14px;
}
/****** Utility Classes End ******/

/****** Navbar Start ******/
#navbar .container{
    flex-direction: column;
}
#navbar .logo{
    width: 100%;
}
#navbar .logo h1{
    font-size: 1.8rem;
}
.icon-image{
    width: 45px;
}
.menu-items{
    width: 100%;
}
#navbar ul{
    flex-direction: column;
}
#navbar ul li{
    border-top: 1.5px solid gray;
}
.burger{
    display: block;
}
/****** Navbar End ******/

/****** Home Section Start******/
#Home .container{
    flex-direction: column-reverse;
}
.left{
    width: 100%;
}
.right{
    width: 100%;
    justify-content: center;
}
#Home img{
    width: 200px;
}
.buttons{
    display: flex;
}
#home-title{
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#home-subtitle{
    margin: 0px 0px 24px;
}
#home-btn{
    font-size: 16px;
    padding: 12px 12px;
    margin: 0px 8px 24px 0px;
}
/****** Home Section End******/

/****** Features Section Start******/
#Features .all-features{
    flex-direction: column;
    justify-content: center;
}

#Features div div .lf{
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
}
.lf .icon{
    width: 65px;
    margin: 10px 10px;
}
#F-Middle{
    display: none;
}
#Features div div .rf{
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.rf .icon{
    width: 65px;
    margin: 10px 10px;
}
/****** Features Section End******/

/****** Classes for Burger Menu ******/
.hide-menu{
    display: none;
}
